@using System.Collections.Generic
@using System.Linq
@using DropZone_BackPanel.Data.Entity
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using DropZone_BackPanel.ERPService.AuthService.Interfaces
@model LoginViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="@Url.Content("~/login/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/login/css/icomoonstyle.css")" rel="stylesheet" />
    <link href="@Url.Content("~/login/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 justify-content-center">
                    <img src="~/assets/login.gif" alt="Image" class="img-fluid" height="250px" width="400px" style="margin-left:40%" >
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3 class="text-center" style="font-weight:900;">Login</h3>
                            </div>
                            <form asp-area="Auth" asp-controller="Account" asp-action="Login" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    @* <label asp-for="Name"></label> *@
                                    <input asp-for="Name" class="form-control" style="color: #347a06 !important;" placeholder="Name" />
                                </div>
                                <div class="form-group">
                                    @* <label asp-for="Password"></label> *@
                                    <input asp-for="Password" class="form-control" style="color: #347a06 !important;" placeholder="Password" />
                                </div>
                                <div class="form-check">
                                    <input asp-for="RememberMe" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label"></label>
                                </div>
                                <button type="submit" class="btn btn-block" style="background-color: #347a06; color: white;">Log In</button>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('#passShowHide').click(function () {
                const passwordField = $('#exampleInputPassword');
                const type = passwordField.attr('type') === 'password' ? 'text' : 'password';
                passwordField.attr('type', type);
                $(this).find('i').toggleClass('fa-eye fa-eye-slash');
            });
        });
    </script>
</body>
</html>
