@using DropZone_BackPanel.Areas.Dboard.Model
@using DropZone_BackPanel.Helpers
@model FileLimitsViewModel
@{
    ViewData["Title"] = "Manage Crime Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<style>
    .btn-link {
        color: white;
    }

    .modal-heading h4 {
        color: #ffffff;
    }

    .form-control {
        border-radius: 20px;
    }

    .btn-success {
        border-radius: 10px;
    }

    label {
        color: black;
    }

    .choices {
        width: 100% !important;
    }

</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <h4 class="text-center">Add File Type</h4>
            <hr />
            <form id="fileTypeForm" asp-area="Dboard" asp-controller="MasterData" asp-action="FileTypes" method="post" enctype="multipart/form-data">
                <input type="hidden" id="fileTypeId" name="Id" value="0" />
                <div class="form-group">
                    <label for="fileTypeName">File Type Name</label>
                    <input type="text" id="fileTypeName" name="fileTypeName" class="form-control" placeholder="Enter file type" required />
                </div>

                <div class="form-group">
                    <label for="isActive">Status</label>
                    <select id="isActive" name="isActive" class="form-control" required>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container table-responsive py-5">
    <table class="table table-bordered table-hover" id="fileTypeTable">
        <thead class="" style="background-color: #827EEF;">
            <tr>
                <th scope="col">Sl</th>
                <th scope="col">File Type</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var index = 1;
                if (Model.fileTypes != null)
                {
                    foreach (var item in Model.fileTypes)
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <td>@item.fileTypeName</td>
                            <td>@(item.isActive == true ? "Active" : "Inactive")</td>
                            <td>
                                <a class="btn btn-info" title="Edit" onclick="editCrimeType(@item.Id, '@item.fileTypeName', '@item.isActive')" href="javascript:void(0)"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                        index++;
                    }
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#fileTypeTable').DataTable();
        });

        function editCrimeType(id, fileType, isActive) {
            $("#fileTypeName").val(fileType);
            $("#fileTypeId").val(id);
            const activeValue = isActive === 'True' ? 'true' : 'false';
            $("#isActive").val(activeValue);
        }

       

    </script>
}
